body {

  /*Background Color of the Page*/
  background-color: #252422;
  font-family: 'Montserrat', sans-serif;
}

/* h1{

  font-family:'Times New Roman', Times, serif ;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.col-md-2{
  background-color:#252422;
}

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
} */
.col-md-4{
  background-color:#EB5E28
}
/* h2{
  font-family: 'Times New Roman', Times, serif;
 
}
h3{

  font-family:'Times New Roman', Times, serif ;
} */
